# Identify:

Please fill-in your ID in the following cell, **only id numbers, no names!**

In [1]:
id1 = "314144148"

In [2]:
df = pd.DataFrame([id1])

NameError: name 'pd' is not defined

Uncomment in case two students are doing the assignment together:

In [3]:
#df = pd.DataFrame([id1,id2])

In [4]:
df.to_clipboard(index=False,header=False)

NameError: name 'df' is not defined

Please fill your names here:

Dima Levin

---

----

# Write your answers here

add as much lines of code and markdown as you need for each answer

# Q1

In [5]:
import numpy as np
import pandas as pd
url = 'https://raw.githubusercontent.com/owid/covid-19-data/master/public/data/vaccinations/vaccinations.csv'
vacc_df = pd.read_csv(url)
vacc_df.columns

Index(['location', 'iso_code', 'date', 'total_vaccinations',
       'people_vaccinated', 'people_fully_vaccinated', 'total_boosters',
       'daily_vaccinations_raw', 'daily_vaccinations',
       'total_vaccinations_per_hundred', 'people_vaccinated_per_hundred',
       'people_fully_vaccinated_per_hundred', 'total_boosters_per_hundred',
       'daily_vaccinations_per_million', 'daily_people_vaccinated',
       'daily_people_vaccinated_per_hundred'],
      dtype='object')

In [6]:
vacc_df['date'] = pd.to_datetime(vacc_df['date'])
vacc_df['month'] = pd.DatetimeIndex(vacc_df['date']).month
my_month = vacc_df.loc[(vacc_df.month == 7)]
len(my_month)

9134

 # Q2

In [7]:
vacc_df['daily_vaccinations'].dropna()
vacc_df[['location','daily_vaccinations']]

           location  daily_vaccinations
0       Afghanistan                 NaN
1       Afghanistan              1367.0
2       Afghanistan              1367.0
3       Afghanistan              1367.0
4       Afghanistan              1367.0
...             ...                 ...
114887     Zimbabwe             10797.0
114888     Zimbabwe             10821.0
114889     Zimbabwe             10727.0
114890     Zimbabwe             10776.0
114891     Zimbabwe             10180.0

[114892 rows x 2 columns]

In [8]:
vacc_df.groupby('location')[['location','people_vaccinated_per_hundred']].fillna(method= 'ffill')
##vacc_df[['location','people_vaccinated_per_hundred']]

           location  people_vaccinated_per_hundred
0       Afghanistan                           0.00
1       Afghanistan                           0.00
2       Afghanistan                           0.00
3       Afghanistan                           0.00
4       Afghanistan                           0.00
...             ...                            ...
114887     Zimbabwe                          39.54
114888     Zimbabwe                          39.54
114889     Zimbabwe                          39.54
114890     Zimbabwe                          39.58
114891     Zimbabwe                          39.59

[114892 rows x 2 columns]

# Q3

In [9]:
vacc_df['date'] = pd.to_datetime(vacc_df['date'])
vacc_df['month'] = pd.DatetimeIndex(vacc_df['date']).month
my_month_df= vacc_df.loc[(vacc_df['iso_code'] != 'OWID_WRL') & (vacc_df['month'] == 7)] 
##max_month= my_month_df[['location','date','daily_vaccinations']]
max_month= my_month_df[['daily_vaccinations']].max()
max_month

daily_vaccinations    31122045.0
dtype: float64

# Q4

In [61]:
vacc_df['date'] = pd.to_datetime(vacc_df['date'])
vacc_df['month'] = pd.DatetimeIndex(vacc_df['date']).month
my_month = vacc_df.loc[(vacc_df.month == 7)]
my_month['daily_vaccinations'].mean()

608854.3196571589

In [62]:
my_month['daily_vaccinations'].median()

8798.0

# Q5

In [89]:
vacc_df['date'] = pd.to_datetime(vacc_df['date'])
vacc_df['month'] = pd.DatetimeIndex(vacc_df.date).month
vacc_df['day'] = pd.DatetimeIndex(vacc_df.date).day
first_seven= vacc_df[(vacc_df.location == 'Israel') & (vacc_df.month == 7) & (vacc_df.day > 0) & (vacc_df.day < 7)]
first_seven[['location','date','people_vaccinated_per_hundred']]

      location       date  people_vaccinated_per_hundred
24819   Israel 2021-07-01                          63.99
24820   Israel 2021-07-02                          64.10
24821   Israel 2021-07-03                          64.13
24822   Israel 2021-07-04                          64.33
24823   Israel 2021-07-05                          64.53
24824   Israel 2021-07-06                          64.74

# Q6

In [6]:
vacc_df['date'] = pd.to_datetime(vacc_df['date'])
vacc_df['month'] = pd.DatetimeIndex(vacc_df.date).month
max_three= vacc_df[(vacc_df.iso_code != 'OWID_WRL') & (vacc_df.month == 7)]
grouped_df= max_three.groupby('location')[['date','people_vaccinated_per_hundred']].max().copy()
grouped_df.sort_values('people_vaccinated_per_hundred', ascending= False).head(3)

                date  people_vaccinated_per_hundred
location
Gibraltar 2021-07-31                         116.77
Pitcairn  2021-07-31                         100.00
Iceland   2021-07-31                          78.37

# Q7

---
# GOOD LUCK !!!!
---

In [ ]:
# do not type below this line